/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
  scroll-behavior: smooth;
  scroll-timeline: 1.5s; /* Contrôle la durée */
}

body {
    display: flex;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 17px;
  
  }

  .logonav img{
    height: 30px;
  }

  .nav-btn {
    padding: 15px ;
    background-color: transparent; /* Fond transparent */
    border: none;
    border-top: 2px solid transparent; /* Bordure supérieure initialement transparente */
    font-size: 16px;
    text-decoration: none; /* Retire le soulignement */
    cursor: pointer;
}



/* Effet hover pour chaque bouton */
.nav-btn:hover {
    border-top: 2px solid #007bff; /* Change la bordure supérieure au survol */
    color: #0056b3; /* Change la couleur du texte au survol */
}

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #Ffffff;
  }

  .titre{
    margin-bottom: 35px;

  }

  h1{
    margin-bottom: 8px;

  }

  .search-container {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 377px; /* Limite la largeur du conteneur */
    width: 100%; /* Rendre le conteneur responsive */
  }

  .icon-container {
    background-color: var(--main-bg-color); /* Couleur de fond pour l'icône */
    border-radius: 15px 0px 0px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Largeur de l'icône */
    height: 45px; /* Hauteur de l'icône */
    margin-right: 0px; /* Espace entre l'icône et le texte */
  }

  .icon-container i {
    color: #000000; /* Couleur de l'icône */
  }

  .search-input {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    background-color: #Ffffff; /* Fond blanc pour le champ de recherche */
    border-radius: 0 0 0 0px;
    flex-grow: 1;
  }

  .search-input span {
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 18px;
  }

  .search-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 18px;
  }

  .search-btn:hover {
    background-color: #0056b3;
  }

  .fa-magnifying-glass{
    display: none;
  }
  
/* Filtres */


.filter-container {
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Centre les éléments verticalement */
    gap: 15px; /* Espace entre la mention et la section des filtres */
  }

  .filter-label {
    font-weight: bold; /* Texte en gras */
    text-align: center; /* Centre le texte */
    font-size: 0.1;
  }

  .filter-section {
    display: flex; /* Utilisation de flexbox pour aligner les boutons horizontalement */
    gap: 10px; /* Espace entre les boutons */
  }

  .filter-btn {
    display: flex; /* Utilisation de flexbox pour le contenu du bouton */
    align-items: center; /* Alignement vertical centré */
    justify-content: center;
    background-color: white; /* Fond blanc pour les boutons */
    border: solid 2px #D9D9D9; /* Bordure solide de 2px avec une couleur par défaut */
    border-radius: 25px; /* Rayons arrondis de 25px */
    padding: 10px 19px; /* Padding pour le bouton */
    cursor: pointer; /* Curseur pointer sur hover */
    transition: background-color 0.3s; /* Transition fluide pour le changement de couleur */
    font-weight: bold;
    font-size: 17px;
}

  .filter-btn i {
    margin-right: 5px; /* Espace entre l'icône et le texte */
    width: 22px;
    font-size: 22px; /* Taille de l'icône */
    height: 22px;

  }

  .filter-btn:hover {
    background-color: var(--filter-bg-color); /* Couleur de fond lors du survol */
  }


  /* Info */
  .info {
    display: flex; /* Flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Centre verticalement le texte et l'icône */
    gap: 10px; /* Espace entre le texte et l'icône */
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .circle-icon {
    width: 24px; /* Largeur du cercle */
    height: 24px; /* Hauteur du cercle */
    border: 1px solid #D9D9D9; /* Bordure solide blanche */
    border-radius: 50%; /* Pour arrondir en cercle */
    display: flex; /* Flexbox pour centrer l'icône dans le cercle */
    align-items: center; /* Centre l'icône verticalement */
    justify-content: center; /* Centre l'icône horizontalement */
    background-color: #ffffff; /* Fond transparent */
    padding: 0;
    
  }

  .circle-icon i {
    font-size: 12px;
  }

   /* fin Info */


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
  /* card main contenaier */


.card {
  margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   
}
.card a {
  margin-top: 0;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; 
    padding-bottom: 20PX;
}

/****** Hebergements ***********/
.hebergements {
  width: 67%;
  display: flex;
  flex-wrap: wrap  ;
  margin-right: 30px;
 

}

.herbergements-card {
  width:100%; /* Chaque carte occupe 32% de la largeur du parent */
  /* Espacement en bas pour éviter le chevauchement vertical */
  box-sizing: border-box; /* S'assure que le padding et les bordures sont inclus dans la largeur */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.herbergements-card .card {
  display: flex;
  flex-direction: column; /* Ajoute cette ligne pour empiler l'image et le texte */
  margin-top: 30px;
  border: 1px solid #ddd; /* Optionnel : pour ajouter une bordure */
  border-radius: 20px; /* Pour rendre les bords arrondis */

}

.herbergements-card img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.herbergements-card .card-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.card-title {
  
  margin-bottom: 4px;
}

.card-subtitle {
  margin: 0;
  font-size: 14px;
}

.card-rating {
  
  font-size: 16px;
}



/* hebergement 2 */


.herbergements-card2 {
  width:100%; /* Chaque carte occupe 32% de la largeur du parent */
  /* Espacement en bas pour éviter le chevauchement vertical */
  box-sizing: border-box; /* S'assure que le padding et les bordures sont inclus dans la largeur */
  display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
}

.herbergements-card2 .card {
  display: flex;
  flex-direction: column; /* Ajoute cette ligne pour empiler l'image et le texte */
  margin-top: 30px;
  border: 1px solid #ddd; /* Optionnel : pour ajouter une bordure */
  border-radius: 20px; /* Pour rendre les bords arrondis */
  margin-bottom: 20px ;

}

.herbergements-card2 img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.herbergements-card2 .card-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
   height: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activite{
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap  ;
  margin-bottom: 30px;
}


.activite-card {
  width:100%; /* Chaque carte occupe 32% de la largeur du parent */
  margin-bottom: 20px; /* Espacement en bas pour éviter le chevauchement vertical */
  box-sizing: border-box; /* S'assure que le padding et les bordures sont inclus dans la largeur */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.activite-card .card {
  display: flex;
  flex-direction: column; /* Ajoute cette ligne pour empiler l'image et le texte */
  margin-top: 33px;
  border-radius: 20px; /* Pour rendre les bords arrondis */
  padding: 0;
}

.activite-card img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.activite-card .card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.more{
  font-weight: bold;
  font-size: 18px;
  margin-left: 10PX;
  border: none;
}

.more:hover{
  cursor: pointer;
}
/* footer */



footer {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  padding:  20px;
  height: 20vh;

}


.apropos {
  width: 33%;
  
  display: flex;
  flex-direction: column;
  color: black;


  font-style: normal;
  font-weight: 400;
  gap: 20px;  
  position: relative;
  
}

.apropos h3 {
  font-size: 18px;
}

.apropos a{
  font-size: 16px;
}


.nos_hebergements {
  width: 33%;
 
  display: flex;
  flex-direction: column;
  color: black;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  gap: 20px;
  margin-left: 87px;
  position: relative;
  
}
.nos_hebergements h3 {
  font-size: 18px;
}

.nos_hebergements a{
  font-size: 16px;
}


.assistance {
  width: 33%;
 
  display: flex;
  flex-direction: column;
  color: black;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  gap: 20px;
  margin-left: 87px;
  position: relative;
  
}
.assistance h3 {
  font-size: 18px;
}

.assistance a{
  font-size: 16px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-card img {
      width: 100%;
      height: 200px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .activite-card  {
      width: 100%;
      height: 270px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    footer {
    height:20vh;
    margin-left:0 ;
    
    
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

header{
  padding: 0;
}

.titre{
  padding: 30px;
  margin: 0;
}

.filter-container{
  padding: 30px;
}
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 0;
    
  
  }
  
  
  .logonav {
   padding: 30px 0 30px 0 ;
   
  }

  .btn_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
    border-top: none;
    
    gap: 5px;
  }

  .nav-btn { border-bottom: 2px solid #F2F2F2 ; 
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    border-top: none; /* Supprime la bordure supérieure en mobile */
     /* Ajoute une bordure inférieure transparente par défaut */
    width: 100%; /* Largeur 100% pour occuper tout l'espace */
    text-align: center; /* Centre le texte */
    padding: 5px;
    gap: 5px;
}

.nav-btn:hover {
  border: none;
}

/* Bordure inférieure active en mobile */
.nav-btn.active, .nav-btn:active {
  border-top: none ;
    border-bottom: 2px solid #007bff; /* Bordure inférieure visible en état actif */
    color: #0056b3; /* Couleur du texte active */
}



.search-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
  margin: 0 ;          /* Centrage horizontal */
  width: 100%;              /* Garde une largeur adaptée */
  max-width: 100%;
}

.search-parent{
  padding-left: 40px;
  padding-right:40PX;
  width: 100%;
}

.searchicon{
  background-color: var(--main-color);
  color: var(--main-bg-color);
  border: none;
  padding: 15px 16px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 50px;
  font-size: 18px;
}

.filter-label{
  margin-top: 20px;
  margin-left: 10%;
}

.fa-magnifying-glass{
  color:   white;
  z-index: 1;
  display: contents;
}

.search-btn{
  display: none;
}

.icon-container2 {
    background-color: var(--main-color); /* Couleur de fond pour l'icône */
    border-radius: 10px 10px 10px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Largeur de l'icône */
    height: 40px; /* Hauteur de l'icône */
    margin-right: 0px; /* Espace entre l'icône et le texte */
  }
  
  .icon-container2 i{
    width: 20px;
    height: 20px;
    color: white;
  }
  .filter-container{
    padding: 0%;
    flex-wrap: wrap;
  }
  .filter-section{
    flex-wrap: wrap; 
    width: 100%;
    justify-content: center;
  }
  .filter-btn{
    width: 40%;
    padding: 14px;
  }
  
  .info{
    padding: 30px;
    margin-left: 5%;
    margin-top: 0;
  }

  .hebergements-and-populaires {
    display: flex;
    
    flex-direction: column-reverse;
    justify-content: space-between;
}

.hebergements{
  margin-top:  0px;
  padding: 0;
}
.hebergements-and-populaires section{
  border-radius: 0;
}
.hebergements-and-populaires .hebergements{
  background-color: white;
}
.herbergements-card{
  gap: 0;
  margin-top: 10px;
}

.herbergements-card2 .card{
  margin-top: 0px;
  margin-bottom: 10px;
}
.herbergements-card2 {
  gap:0px;
}

.herbergements-card .card{
  margin-top: 0px;
  margin-bottom: 10px;
}
.populaires-cards{
 
  flex-direction: column;
  width: 100%;
}

.populaires-cards .card {
  display: flex;
  margin-top: 15px;
}

.populaires-cards a{
  width: 100%;
}

.populaires{
  margin-top: 0;
}

.herbergements-card {
  flex-direction: column;
}
.herbergements-card2 {
  flex-direction: column;
}

.main-container{
  margin: 0;
  padding: 0;
  
}

.activite{
  height: 100%;
}

.activite-card{
  flex-direction: column;
  height: 100%;
  gap:0px;
 
}
.activite-card .card
{
  margin-top:15px;
}

footer{
  flex-direction: column;
  height: 100%;
  padding: 20px;
  margin-top: 0;
}

.apropos{
  margin:30px;

  margin-bottom: 0;
  width: 50%;
}


.nos_hebergements{
  margin:30px;
}

.nos_hebergements{
  margin:30px;

  margin-bottom: 0;
  width: 50%;
}

.assistance{
  margin:30px;

  margin-bottom: 0;
  width: 50%;
}
.assistance{
  margin:30px;
}
}
